/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --heading-color: #FFC2E6;
    --page-color: #FFF1F7;
    --text-heading-color: #353430;

    --accent-shadow-color: #FF0070;
    --section-title-color: #FF8DCB;
    --accent-block-color: #353430;
    --navigation-menu-color: #353430;
    --navigation-menu-color-transparent: rgba(50, 49, 45, 0.40);
    --main-section-title: #353430;
    --main-section-text-background: #FFF1F7;
    --main-text-color: #353430;

    --cover-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__sign {
    display: none;
}
